* {
   margin:0;
   padding:0;
   background-color:rgb(0, 0, 0);
   box-sizing: border-box;
   list-style:none;
   text-decoration:none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

.nav {
    width:60%;
}

.ul {
    display:flex;
    width: 100%;
    justify-content:space-between;
}

.li {
    color:aliceblue;
    cursor: pointer;
    font-size: 24px;
    transition: 0.5;
    font-family: 'Rajdhani', sans-serif;
    font-weight:600;
    font-style:normal;

}

.logo {
    width:auto;
    height: 90px;
}

#banner {
    background-image: url('https://media.cinemacloud.co.uk/imageFilm/1621_1_1.jpg');
    background-position: 50% ;
    background-size:cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    height: fit-content;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content {
    width:90%;
    max-width: 865px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
    max-width: 465px;
    min-width: 351px;
}

#sinopse {
    width: 50%;
    max-width: 480px;
    max-height: 355px;
    min-width: 226px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    position: relative;
    transition: 1s;

}

#descri {
    color: #fff;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
    font-weight:600;
    font-style:normal;
}
 
.button {
    width: 200px;
    max-width: 200px;
    height: 60px;
    background-color: #f7a223;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 35px;
    z-index: 5;

    transition: 1s;


}

.button:hover {
    background-color: #fff;
    color:#000;
    /* transition: 1s; */
    
}

.button:hover + .warning {
    opacity: 1;
    bottom: 75px;
}

.warning {
    position: absolute;
    bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    background-color: red;
    text-align: center;
    transition: .5s;
    transition-delay: .3s;
    opacity: 0;
}

.warning::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 80px;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(45deg);
}

.warning p {
    height: fit-content;
    width: 150px;
    background-color: red;
    color: #faf137;
    font-size: 18px;
    font-weight:bolder;
    z-index: 3;
    font-family: 'Rajdhani', sans-serif;
}

.actor-cards-container {
    width:100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.card {
    width: 100%;
    max-width: 420px;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
}

.banner-1 {
    background-image: url('https://img.ibxk.com.br/2023/11/17/17160418247110.jpg?ims=328x');
}

.banner-2 {
    background-image: url('https://www.j-14.com/wp-content/uploads/2023/04/the-hunger-games-tom-blyth.png?resize=800%2C800&quality=86&strip=all')
}

.banner-3 {
    background-image: url('https://people.com/thmb/ErDiCYLR8FdIK1XBG81YKGnPXDs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(749x0:751x2)/viola-davis-hunger-games-exclusive-102423-b7ecb671519649168ab10fd1e3e4a12f.jpg')
}

.card:hover {
    transform: scale(1.02)
}

footer {
    height: 300px;
    margin-top:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

spam {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}

.container-nav-footer {
    display: none;
}

.logo-footer {
    margin-top: 20px;
    margin-bottom: -5px;
    width:auto;
    height: 90px;
}

.home {
    color:#f7a223;    
}

@media (max-width: 1160px){
    .card-content {
        grid-template-columns: 1fr;
        justify-content: space-around;
        row-gap: 20px;
        margin-right: 2%;
        margin-top: 65px;
        margin-bottom: 15px;
    }

    .card{
        justify-self: center;
    }
}

@media(max-width: 768px) {
    
    .nav {
        display:none;
    }

    #banner {
        background-position: 26.5%;
        height: 500px;
        width: 100%;
    }

    #trailer-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
        max-height: 250px;
        margin-bottom: 20px;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-left: 0
    }

    #descri {
        width: 100%;
    }

    .button {
        width: 100%;
    }

    .card-content {
        grid-template-columns: 1fr;
        justify-content: space-around;
        row-gap: 20px;
        margin-right: 2%;
        margin-top: 65px;
        margin-bottom: 15px;
    }

    .card{
        justify-self: center;
    }

    .logo-footer {
        margin-top: 0px;
        width:auto;
        height: 90px;
    }
    
    .container-nav-footer {
        height:60px;
        width: 100.5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
       border-top: 2px solid #f7a223;
       border-bottom: 2px solid #f7a223;       
       border-radius: 7px;
       box-shadow: 0px 0px 10px #fabd60;
    }   
       
    .nav-2 {
        width: 100%;
    }

    .ul-2 {
        display:flex;
        width: 100%;
        justify-content:space-around;    
    }

    .li-2 {
        color:aliceblue;
        cursor: pointer;
        font-size: 24px;
        transition: 0.5;
        font-family: 'Rajdhani', sans-serif;
        font-weight:600;
        font-style:normal;
        position: relative;
        top: 1px;    
    }

    .home {
        color:#f7a223;
    }
}

@media (max-width: 400px){
    .trailer {
        min-width: 250px;
    }
}

@media (max-width: 373px){
    .li-2 {
       font-size: 21px;
    }
}